*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    padding: 10px;
    
}

li{
    list-style: none;
}

li:hover{
  background: rgb(124, 29, 143);
}

a{
    color: #000;
    text-decoration: none;
    font-size: 1em;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px ;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-logo{
    font-size: 2.5rem;
}

.nav-link{
    transition:0.7s ease;
}

.nav-link:hover{
    color: antiquewhite;
}

.hamburger{
    display:none;
    cursor:pointer;
}

.bar{
    display:block;
    width:25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000 ;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
   .hamburger.active .bar:nth-child(2){
    opacity: 0;
   }
   .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .nav-menu{
      position:fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: blueviolet ;
      width: 100%;
      text-align: center;
      transition: 0.3s;
   }

   .nav-item{
    margin: 16px 0;
   }

   .nav-menu.active{
      left:0;
   }
}



.search-btn, .close-btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: blueviolet;
    color: #000;
    border: none;
    cursor:pointer;
    position: absolute;
    bottom: 20px;
}

.close-btn{
    color: red;
    z-index: -1;
}

.search-box{
    width:250px;
    height:40px;
    padding:15px;
    border-radius: 25px;
    color: aliceblue;
    outline: none;
    border: none;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
}






